@import "_config.css";
.subtle {
  color: var(--color-light);
}
hr {
  border: 0.5px solid #e3e3e3;
  clear: both;
}
/* -------- TYPOGRAPHY -------- */



/* -------- LINKS -------- */
button > a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
a:visited {
  color: blue;
}

/* -------- BUTTONS -------- */
button {
  border-radius: 4px;
  border: none;
  box-shadow: var(--shadow-z1);
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  margin: 0 1rem 0 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  transition: box-shadow 0.15s ease-in-out;
  -webkit-transition: box-shadow 0.15s ease-in-out;
}

.btn-md {
  padding: 1rem 2rem 1rem 2rem;
}
.btn-lg {
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}
.btn-primary {
  background-color: var(--color-action);
  color: #fff;
  font-weight: 500;
}
.btn-secondary {
  background-color: var(--color-xlight);
  color: #24292e;
  font-weight: 500;
}
.btn-outline {
  background-color: none;
  color: var(--color-action);
  border: 1px solid var(--color-action);
}
button:first-child {
  margin: 0 0 0 0;
}

button:hover {
  box-shadow: var(--shadow-z2);
}
button:active {
  opacity: 0.8;
  box-shadow: var(--shadow-z2);
}
/* button:hover {
  box-shadow: 0 2px 8px #999;
}
button:active {
  opacity: 0.8;
  box-shadow: 0 2px 8px #999;
} */
/*Targeting Attributes*/
[href="index.html"] {
  color: red;
}

/* -------- FORM INPUT -------- */
label {
  color: var(--color-light);
}
label::after {
  content: ":";
  display: inline-block;
  margin-right: 3px;
}
input,
textarea,
select {
  font-size: inherit;
  width: 100%;
  max-width: 420px;
  top: 0;
  padding: 1rem;
  margin: 0.5rem 0 1rem 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: white;
}
textarea {
  resize: vertical;
}
input:focus,
textarea:focus {
  background-color: white;
}
input:disabled {
  background-color: var(--color-disabled);
}
/* SELECTORS */
option:first {
}

/* CUSTOM RADIOS */
input[type="radio"],
[type="checkbox"] {
  width: 1rem;
  cursor: pointer;
}
.form-radio {
}
.form-radio:checked::before {
}
.form-radio:hover {
}
.form-radio:checked {
}

/*TOOLTIPS*/
[data-tooltip]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  background-color: var(--color-dark);
  font-size: inherit;
  color: #fff;
  position: absolute;
  padding: 1rem 2rem 1rem 2rem;
  white-space: nowrap;
  box-shadow: 1px 1px 10px var(--color-dark);
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  border-radius: 4px;
}
[data-tooltip] {
  position: relative;
}
/*BULLET LISTS*/
/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 16px;
}

li::before {
  content: "•";
  padding-right: 8px;
  color: blue;
} */


/* -------- TABLES -------- */
table{
  border-collapse: collapse;
}
tr {
}
th {
  background-color: #f8f8f8;
  font-weight: 400;
  color: #666;

}
th, td {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border: 1px solid #e3e3e3;
}
tr:nth-of-type(even) td {
  /* background-color: #e3e3e3; */
}
thead tr {
  text-align: left;

}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    color: #666;
  }

  tr {
    margin: 0 0 1rem 0;
    border: 1px solid #e3e3e3;

  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 0;
    width: 45%;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    white-space: nowrap;
    color: #666;
  }

  /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
  td:nth-of-type(1):before {
    content: "First Name";
  }
  td:nth-of-type(2):before {
    content: "Last Name";
  }
  td:nth-of-type(3):before {
    content: "Job Title";
  }
  td:nth-of-type(4):before {
    content: "Favorite Color";
  }
  td:nth-of-type(5):before {
    content: "Date of Birth";
}
